<p><h2>404</h2>
<span>It's a page not found, man.</span></p>
<script type="application/javascript" src="/scripts/Canvas2d.js"></script>
<script type="application/javascript" src="/scripts/Input.js"></script>
<script type="application/javascript" src="/scripts/Input.definitions.js"></script>
<script type="application/javascript" src="/scripts/Animator.js"></script>
<script type="application/javascript" src="/scripts/brickbreak.js"></script>

