body {
	background-color: rgb(75, 35, 35);
	/*background-color: rgb(205, 205, 255);*/
	margin: 1% 15%;
	border:2px solid #fff;
	border-radius: 3px;
}

#center {
	
}

#content {
	
	text-align: center;
	border: 1px solid #000;
	/*color: rgb(100, 100, 125);*/
	color: rgb(175, 175, 200);
	text-shadow: 1px 1px #000;
	background-color: rgba(50, 50, 50, 0.7);
}

a {
	text-decoration: none;
	color: rgb(170, 250, 200);
}

a:hover {
	text-decoration: none;
	color: rgb(225, 255, 225);
}

.modal {
	position: absolute;
	left: 0.0em;
	right: 0.0em;
	top: 0.0em;
	bottom: 0.0em;
	background-color: rgba(50, 50, 50, 0.5);
}

.modal-contents {
	position: absolute;
	border: 1px solid #000;
	width: 12.5em;
	left: 50%;
	top: 50%;
	margin-left: -6.25em;
	margin-top: -5em;
	background-color: rgb(0, 0, 0);
	color: #fff;
	text-shadow: initial;
}
.modal-contents > input {
	top: 0.0em;
	width: 100%;
	border: 0px;
	text-align: center;
	height: 2em;
}
.modal-contents > button {
	width: 100%;
	height: 2em;
}

.hidden-field {
	display: none;
}
.forum-group {
	margin: 1.5em;
	border: 0.0625em solid #fff;
}
.forum-group-description {
	text-align: left;
	padding: 0.5em;
	margin: 0.5em;
	border: 0.0625em solid #fff;
}
.forum-group-title {
	text-align: left;
	padding: 0.5em;
	margin: 0.5em;
	border: 0.0625em solid #fff;
}
.forum-icon {
	float: left;

	width: 3em;
	height: 3em;
}
.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

@media (max-width: 1025px) {
	body {
		margin: 1% 1%;
	}
}